---
- name: setting up replications...
  with_items: couchdb_reps
  uri:
    url: '{{couchdb_replication_endpoint}}'
    method: POST
    HEADER_Content-Type : "application/json"
    body: "{{lookup('template', 'replication.json.j2')}}"
    status_code: 200,202
    timeout: 600
    
